<div class="container ">
    <div class="row mb-5">
        <div class="col-sm-6 mt-5">
            <h2>About Us</h2>
            <small class="text-muted">Elementum facilisis leo vel fringilla est ullamcorper eget nulla facilisi.</small>
            <div class="mt-3 ">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Iaculis urna id volutpat lacus laoreet non curabitur gravida arcu. Euismod nisi porta lorem mollis. Cursus turpis massa tincidunt dui ut ornare. Sed euismod nisi porta lorem mollis. Mi eget mauris pharetra et ultrices neque ornare. Accumsan lacus vel facilisis volutpat est velit egestas dui. Elementum facilisis leo vel fringilla est ullamcorper eget nulla facilisi. Elit eget gravida cum sociis natoque penatibus. Feugiat nibh sed pulvinar proin. Urna condimentum mattis pellentesque id nibh tortor.
                <br><br>
                Mi eget mauris pharetra et ultrices neque ornare. Accumsan lacus vel facilisis volutpat est velit egestas dui.
                <br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                <br><br>
                Feugiat nibh sed pulvinar proin. Urna condimentum mattis pellentesque id nibh tortor.
            </div>
        </div>
    </div>
</div>