<div >
   <!-- Background image -->
<div
class="p-5 text-center bg-image"
style="
  background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.GHwRuaQSwWHoepECjY6eQAHaE7%26pid%3DApi&f=1');
  height: 400px;
  margin-top: 58px;
  background-size: contain;
"
>

<div class="mask mt-5" >
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="text-white ">
      <h1 class="mb-3 mt-5">Happy Employee</h1>
      <h4 class="mb-3">Dedicated & happy staff that are success driven</h4>
      <a class="btn btn-outline-light btn-lg" href="#!" role="button"
        >Contact Us</a>
        <a class="btn btn-outline-light btn-lg ms-3" href="about" role="button"
        >About Us</a>
    </div>
  </div>
</div>
</div>
<!-- Background image -->
<div class="container mt-4">
   <div class="row">
       <div class="col-9">
           <h4>Who we Are</h4>
           <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Iaculis urna id volutpat lacus laoreet non curabitur gravida arcu. Euismod nisi porta lorem mollis. Cursus turpis massa tincidunt dui ut ornare. Sed euismod nisi porta lorem mollis. Mi eget mauris pharetra et ultrices neque ornare. Accumsan lacus vel facilisis volutpat est velit egestas dui. Elementum facilisis leo vel fringilla est ullamcorper eget nulla facilisi. Elit eget gravida cum sociis natoque penatibus. Feugiat nibh sed pulvinar proin. Urna condimentum mattis pellentesque id nibh tortor
           </div>
           <div class="row d-flex justify-content-evenly mt-4">
             <h4>Our Services</h4>
              <div class="col-4">
                <h6 class="text-info">Service One</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Iaculis urna id volutpat lacus laoreet non curabitur gravida arcu.</p>
              </div>
              <div class="col-4">
                <h6 class="text-info">Service Two</h6>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </div>
              <div class="col-4">
                <h6 class="text-info">Service Three</h6>
                Iaculis urna id volutpat lacus laoreet non curabitur gravida arcu.
              </div>
           </div>
           <div class="row">
                <div class="col-sm-4 ">
                  <img src="https://picsum.photos/200" class="img-responsive border border-2 img-thumbnail">
                </div>
                <div class="col-sm-8">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Iaculis urna id volutpat lacus laoreet non curabitur gravida arcu.
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </div>
           </div>
       </div>
       <div class="col-3">
           <div class="">
              
                   <app-departments ></app-departments>
              
           </div>
       </div>
   </div>
</div>
</div>
